<center>
<img src="{{href}}" height=600/>
<form method="get">
    <label> Get an estimated price for your car </label>
</form>
<div>
<form method="Post">
    <input type = "text" name="Make" placeholder="Make" required="required" />
    <input type = "text" name="Model" placeholder="Model" required="required" />
    <input type = "text" name="BodyStyle" placeholder="Body-style" required="required" />
    <input type = "text" name="Year" placeholder="Year" required="required" />
    <input type = "text" name="Mileage" placeholder="Mileage" required="required" />
    <input type = "text" name="ZIP" placeholder="ZIP" required="required" />
    <button type="submit"> Car Price </button>
</form>
</div>
</center>